body
{
margin:.5em;
}

img
{
max-width:100%;
max-height:100%;
}

a
{
text-decoration:none;
}

.cover
{
margin-top:0em;
margin-bottom:0em;
text-align:center;
margin-left:0em;
margin-right:0em;
text-indent:0em;
}

.image
{
margin-top:1em;
margin-bottom:1em;
text-align:center;
}
.image-bm
{
margin-top:1em;
margin-bottom:0em;
text-align:center;
}
.noindent
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.noindent-t
{
line-height:1.2em;
font-size:0.95em;
margin-top:.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.noindent-mt
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.noindent-mmt
{
line-height:1.2em;
font-size:0.95em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.indent
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}

.indent-t
{
line-height:1.2em;
font-size:0.95em;
margin-top:.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}

.indent-mt
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}

.dp
{
line-height:1.2em;
color:#939598;
font-size:370%;
float:left;
line-height:.9em;
font-weight:bold;
}

.index
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
text-align:justify;
text-indent:-4em;
}

.index-h
{
line-height:1.2em;
font-weight:bold;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
text-align:justify;
text-indent:-4em;
}

.index1
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
text-align:justify;
text-indent:-3em;
}

.index2
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:4em;
margin-right:0em;
text-align:justify;
text-indent:-2em;
}

.frac_num
{
line-height:1.2em;
font-size: xx-small;
vertical-align:text-top;
}

.frac_den
{
line-height:1.2em;
font-size: xx-small;
vertical-align: text-bottom;
}

.pagebreak
{
line-height:1.2em;
page-break-before:always;
}

span.sm
{
line-height:1.2em;
font-size:70%;
}
.noindents
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.noindents-t
{
line-height:1.2em;
font-size:0.95em;
margin-top:.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.noindents-mt
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.indents
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}

.indents-t
{
line-height:1.2em;
font-size:0.80em;
margin-top:.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}

.indents-mt
{
line-height:1.2em;
font-size:0.80em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}

.tab
{
line-height:1.2em;
margin-top:0.4em;
margin-bottom:0.2em;
font-size:0.95em;
border:1px solid black;
margin-left:0em;
margin-right:0em;
}

.tab2
{
line-height:1.2em;
margin-top:0em;
margin-bottom:0.5em;
font-size:0.95em;
border-top:1px solid black;
}

.tab1
{
line-height:1.2em;
margin-top:0em;
margin-bottom:0em;
font-size:0.95em;
}

.ttin
{
line-height:1.2em;
margin-top:1em;
margin-left:1.3em;
margin-bottom:1em;
font-size:0.95em;
}

.tdtl
{
line-height:1.2em;
border-top:1px solid black;
}

.tdin
{
line-height:1.2em;
margin-left:1em;
}

.tdt
{
line-height:1.2em;
margin-top:1em;
}

.tdt1
{
line-height:1.2em;
margin-top:.5em;
}

.tdin1
{
line-height:1.2em;
margin-left:2em;
}

table
{
line-height:1.2em;
font-size:0.95em;
}

p.hr1
{
border-bottom:11px solid #D1D2D4;
margin-bottom:0em;
margin-top:0.3em;
}

.underline
{
line-height:1.3em;
border-bottom: 1px solid black;
}

.tit
{
line-height:1.2em;
font-size:x-large;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.tit2
{
line-height:1.2em;
font-size:medium;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.tit3
{
line-height:1.2em;
font-size:medium;
margin-top:5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.tit4
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.imagee
{
line-height:1.2em;
margin-top:7em;
margin-bottom:1em;
text-align:center;
}

.cpy
{
line-height:1.2em;
font-size:0.80em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.cpy0
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.cpyt
{
line-height:1.2em;
font-size:0.80em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.cpyi
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1em;
}

.cpyii
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:2em;
}

.cpyc
{
line-height:1.2em;
font-size:0.80em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:1em;
}

.fmtit
{
line-height:1.2em;
font-size:2em;
margin-top:1.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
font-weight:normal;
}

.toc
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
text-indent:-1.5em;
}

.toc1
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.ch-no
{
line-height:1.2em;
font-size:1.8em;
margin-top:2em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
text-indent:0em;
}

.ch-tit
{
line-height:1.1em;
font-size:1.6em;
margin-top:4em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:left;
text-indent:0em;
font-weight:bold;
}

.h2
{
line-height:1.2em;
font-size:1.17em;
margin-top:1.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.h21
{
	line-height: 1.2em;
	font-size: .95em;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	text-align: justify;
	text-indent: 0em;
}

.h3
{
line-height:1.2em;
font-size:0.95em;
margin-top:1.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.h31
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.chl
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.chll
{
line-height:1.2em;
font-size:0.95em;
margin-top:0.3em;
margin-bottom:0em;
margin-left:2em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.side1
{
line-height:1.2em;
font-size:0.95em;
margin-top:.8em;
margin-bottom:.8em;
margin-left:1.7em;
margin-right:1.5em;
text-align:justify;
text-indent:0em;
background-color:#dcddde;
padding-right:.7em;
padding-left:.7em;
padding-top:.5em;
padding-bottom:.7em;
}

.side-h1
{
line-height:1.2em;
font-size:1.1em;
border-bottom:4px solid black;
padding-bottom:.5em;
margin-top:0em;
margin-bottom:.5em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.side2
{
line-height:1.2em;
font-size:0.95em;
margin-top:.8em;
margin-bottom:.8em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
background-color:#dcddde;
padding:.8em;
border:1px solid black;
}

.side-h2
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:1em;
text-align:center;
text-indent:0em;
}

.line
{
line-height:1.2em;
border-bottom:1px solid black;
margin-bottom:.5em;
margin-top:0em;
}

.sl
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.sl1
{
line-height:1.2em;
font-size:0.80em;
margin-top:.5em;
margin-bottom:0em;
margin-left:2.5em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.side3
{
line-height:1.2em;
font-size:0.95em;
margin-top:.8em;
margin-bottom:.8em;
margin-left:1.7em;
margin-right:1.5em;
text-align:justify;
text-indent:0em;
background-color:#dcddde;
padding-top:.8em;
padding-bottom:.8em;
padding-left:.6em;
padding-right:.6em;
}

.side-h3
{
line-height:1.2em;
font-size:1.35em;
margin-top:0em;
margin-bottom:.2em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.side4
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:.8em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
background-color:#dcddde;
padding:.7em;
border:1px solid black;
}

.side-h4
{
line-height:1.2em;
font-size:0.95em;
border-bottom:2px solid black;
margin-top:0em;
margin-bottom:.5em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.side5
{
line-height:1.2em;
font-size:0.95em;
margin-top:.8em;
margin-bottom:.8em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
border:1px solid #dcddde;
}

.side-h5
{
line-height:1.2em;
font-size:1.2em;
padding-top:.3em;
padding-bottom:.3em;
padding-left:.5em;
padding-right:.5em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
background-color:#dcddde;
}

.side51
{
line-height:1.2em;
padding:.5em;
}

.mleft
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.mleft-mt
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}


.h4
{
line-height:1.2em;
font-size:0.95em;
margin-top:1.3em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.mcenter
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.mcentert
{
line-height:1.2em;
font-size:0.95em;
margin-top:.5em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.mcenter-t
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:0em;
text-align:center;
text-indent:0em;
}

.quote
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:1em;
margin-left:1.5em;
margin-right:1.5em;
text-align:justify;
text-indent:0em;
}

.hang
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:1.5em;
margin-right:0em;
text-align:justify;
text-indent:-1.5em;
}

.ulist
{
 font-size:.95em;
 margin-left:2.1em;
 margin-right:0em;
 margin-top:1em;
 font-weight:normal;
 margin-bottom:1em;
 text-indent:0em;
 text-align:justify;
 line-height:1.2em;
}

.ulistt
{
 font-size:.95em;
 margin-left:1em;
 margin-right:0em;
 margin-top:0em;
 font-weight:normal;
 margin-bottom:0em;
 text-indent:0em;
 text-align:justify;
 line-height:1.2em;
}


.ulist1
{
 font-size:.95em;
 margin-left:0em;
 margin-right:0em;
 margin-top:1em;
 font-weight:normal;
 margin-bottom:0em;
 text-indent:0em;
 text-align:justify;
 line-height:1.2em;
}

.ulist2
{
 font-size:.95em;
 margin-left:1.5em;
 margin-right:0em;
 margin-top:1em;
 font-weight:normal;
 margin-bottom:0em;
 text-indent:0em;
 text-align:justify;
 line-height:1.2em;
}


li.list1
{
 font-size:.95em;
 margin-left:0em;
 margin-right:0em;
 margin-top:0.3em;
 font-weight:normal;
 margin-bottom:0em;
 text-indent:0em;
 text-align:justify;
 line-height:1.2em;
}


li.list
{
 font-size:.95em;
 margin-left:0em;
 margin-right:0em;
 margin-top:0em;
 font-weight:normal;
 margin-bottom:0em;
 text-indent:0em;
 text-align:justify;
 line-height:1.2em;
}


.olist
{
 font-size:.95em;
 margin-left:2em;
 margin-right:0em;
 margin-top:0.3em;
 font-weight:normal;
 margin-bottom:0.3em;
 text-indent:0em;
 text-align:justify;
 line-height:1.2em;
}


.sidet
{
line-height:1.2em;
font-size:0.95em;
margin-top:0.8em;
margin-bottom:0.8em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
background-color:#dcddde;
padding:.7em;
border:1px solid black;
}
.noindentt
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
padding:0.1em;
}
.noindenttp
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.noindenttm
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:1.7em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}
.center-at
{
line-height:1.2em;
font-size:0.80em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}
.center-tp
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}
.center-t
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
}


.indent1
{
line-height:1.2em;
font-size:0.95em;
margin-top:1em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:1.5em;
}

.noindent1
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:1em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.noindentr
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:right;
text-indent:0em;
padding:0.1em;
}

.noindentv
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:center;
text-indent:0em;
padding:0.1em;
}


.olm
{
font-size:0.95em;
margin-top:1em;
margin-bottom:1em;
}

.mv
{
line-height:1.2em;
font-size:0.95em;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
}

.sides
{
line-height:1.2em;
font-size:0.95em;
margin-top:.8em;
margin-bottom:.8em;
margin-left:0em;
margin-right:0em;
text-align:justify;
text-indent:0em;
background-color:#e7e7e7;
padding:.8em;
border:1px solid black;
}
div.left
{
margin-left:0.3em;
margin-bottom:0em;
margin-right:0em;
text-indent:0em;
font-size:0.95em;
}
